body {
    font-family: sans-serif;
    background-color: rgb(255, 161, 196);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    margin-bottom: 20px;
}

.button {
    background-color: #36bbce;
    color: rgb(255, 0, 234);
    text-decoration: none;
    padding: 15px;
    font-size: 24px;
    border-radius: 10px;
    display: block;
}

nav {
    border-top: 5px solid white;
    border-bottom: 5px solid white;
    padding: 25px 100px 25px 95px;
    display: flex;
    justify-content: space-between;
}

.nav-link {
    font-size: 24px;
    color: rgb(0, 85, 255);
    text-decoration: none;
    display: block;

}

h1 {
    text-align: center;
    color: rgb(225, 255, 0);
    font-size: 36px;
    margin-top: 45px;
    margin-bottom: 40px;
}

.post-text {
    font-size: 24px;
}

.info {
    display: flex;
    flex-wrap: wrap;
    max-width: 1100px;
    margin: 0 auto;
}

.post {
    background-color: rgb(206, 255, 46);
    padding: 15px 45px 30px 45px;
    width: 400px;
    margin: 20px;
    position: relative;
}

.posta {
    background-color: rgb(221, 0, 255);
    padding: 15px 45px 30px 45px;
    width: 400px;
    margin: 20px;
    position: relative;
}


.article-but {
    text-decoration: none;
    background-color: #133aac;
    color: white;
    font-size: 24px;
    text-align: center;
    padding: 10px 75px 10px 75px;
    display: block;
}

.full-image {
    margin: 100px 0px 100px 0px;
}

.social {
    display: block;
    width: 30px;
    
}
.social:hover {
    display: block;
    width: 40px;
    border-bottom: dotted;
    padding: 3px;
    
}
footer {
    background-color: white;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 30px 30px 20px 45px;
}

.footer-text {
    font-size: 24px;
    margin-right: 30px;
}

.footer-text span {
    color: #850AE5;
    font-weight: bolder;
}
.s {
    position: fixed;
    left: 0;
    width: 90px;
    top: 150px;
    background-color: rgb(0, 255, 34);
    padding-left: 10px;
    height: 155px;
    border-radius: 60px;
    padding: 20px;

}
.r {
    position: absolute;
left: 370px;
top: 50px;
width: 120px;
border-radius: 10px;
transform: rotate(25deg);
height: 50px;
}
.r:hover {
    position: absolute;
left: 370px;
top: 50px;
width: 120px;
border-radius: 10px;
transform: rotate(25deg);
height: 50px;
  border-bottom:30px double rgb(255, 0, 0);
    padding: 5px;
}
.post-img:hover {
    display: block;

    height: 240px;
    border-bottom:10px dotted rgb(0, 255, 242);
   
}
.y {
    color:rgb(221, 0, 255);
}
